<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">
          <img src="{{{or site.url siteRootPath}}}/plc4x/{{page.version}}/_images/apache_plc4x_logo_small.png" alt="Apache PLC4X">
      </a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end justify-content-center">
        <a class="navbar-item" href="{{{or site.url siteRootPath}}}/">Home</a>
        <a class="navbar-item" href="{{{or site.url siteRootPath}}}/plc4x/{{page.version}}/users">Users</a>
        <a class="navbar-item" href="{{{or site.url siteRootPath}}}/plc4x/{{page.version}}/developers">Developers</a>
        <a class="navbar-item" href="{{{or site.url siteRootPath}}}/plc4x/{{page.version}}/apache">Apache</a>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="{{{or site.url siteRootPath}}}/plc4x/{{page.version}}/users/download">Download</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
